name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Docker Image for Testing
        run: |
          docker build -t myapp-test .

      - name: Run Container for Testing
        run: |
          docker run -d -p 3000:3000 --name myapp-test myapp-test
          
      - name: Test Server
        run: |
          sleep 5
          curl -f http://localhost:3000 || exit 1

      - name: Stop & Remove Test Container
        run: |
          docker stop myapp-test
          docker rm myapp-test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/graduation-project:latest

      - name: Image Info
        run: docker images

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/graduation-project:latest
            docker stop myapp || true
            docker rm myapp || true
            docker run -d -p 80:3000 --name myapp ${{ secrets.DOCKERHUB_USERNAME }}/graduation-project:latest
